<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
        <%- include('./partials/navbar.ejs')%>
        <div class="wrapperMovie">
          <div class="genrePageWrapper">
            <div class="middleContent">
              <div class="description">
                <h2>Browse movies by Genres</h2>
                <br>
              </div>
              <div class="genres">
                <%Genres.forEach(function(genre){%>
                  <a href="/genre/<%=genre.Name%>"><h5><%=genre.Name%></h5></a>
               <% })%>
              </div>
            </div>
          </div>
          <%- include('./partials/footer.ejs')%>
        </div>
       
  </body>
  </html>