<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
        <%- include('./partials/navbar.ejs')%>
        <div class="wrapperMovie">
          <div class="genrePageWrapper">

            <div class="middleContent">
                <h3>Movies with the <%=Genre %> genre</h3>
            <div class="genres">
            <%GenreMovies.forEach(function(movie){%>
                <a href="/movie/<%= movie.Movie.Title%>"><p><strong><%= movie.Movie.Title %></strong></p></a>

           <% })%>
          </div>
        </div>
    </div>
          <%- include('./partials/footer.ejs')%>
        </div>
        <script src="/javascripts/BrowserFunctions/Review.js" ></script>
  </body>
  </html>