<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landingPage.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
        <%- include('./partials/navbar.ejs')%>
        <div id="app">
          <div id="left">
            <div id="leftContent">
            <% Top10.forEach(function(movie){ %>
             <div class="card">
              <img src="<%=movie.Poster%>" alt="Image">
              <a class="link title" href="/movie/<%=movie.Title%>"><%=movie.Title%></a>
              <p class="rating"><%=movie.id%></p>
             </div>
          <%})%>
        </div>
        </div>
      
      <div id="middle">
              <div id="middleTop">
                <h3 class="h3review">Featured Movie</h3>
               
                  <br>
                    
                <a href="/movie/<%=FeaturedMovie.Title%>"><h2><%=FeaturedMovie.Title%></h2></a><br>
                <img src="<%=FeaturedMovie.Poster%>" alt="Image" width="250px" height="350px">
                <p><strong>Director: </strong><%=FeaturedMovie.Director.Name%></p>
                <p><strong>Actors:</strong>
                  <%FeaturedMovie.Actors.forEach(function(actor, actorIndex) { %>
                    <%= actor.Name %><% if (actorIndex !== FeaturedMovie.Actors.length - 1) { %>,<% } %>
                  <% }); %>
                </p>

                <p><strong>Genres:</strong>
                  <% FeaturedMovie.Genres.forEach(function(genre, genreIndex) { %>
                    <%= genre.Name %><% if (genreIndex !== FeaturedMovie.Genres.length - 1) { %>,<% } %>
                  <% }); %>
                </p>
                <p><strong>Plot:</strong>
                  <div class="featuredPlot">
                  <%=FeaturedMovie.Plot%></p>
                </div>
              </div>

          <div id="infoWrapper">
            <h3>Recent reviews by users:</h3>
              <div id="info">
                <% Reviews.forEach(function(review){ %>
                  <div class="infoItem">
                    <a href="/movie/<%=review.Movie.Title%>"><p><strong><%=review.Movie.Title%></strong></p></a>
                    <img src="/images/<%=review.User.Avatar%>.png"height="100px"width="100px"/>
                    <p><%= review.User.Nickname %></p>
                    <p><%=review.ReviewText%></p>
                    <p id="rating">Rating: <strong><%=review.UserRating%>/10</strong></p>
                  </div>
                 

              <% })  %>
              </div>
            </div>
          </div>
  
          <div id="right">
            <div id="rightTop">
              <h4>Welcome to MovieVault!</h4>
              <div id="welcomeText">
              <p>MovieVault is a moviedatabase for the top rated movies. Head over to the profile tab 
                 to create your profile and get started with planning a watchlist, and leaving reviews for others to see!
                </p>
              </div>
            </div>






            <div id="rightBot">
                <h3 class="h3review">Other users loved:</h3>
                <%if(GoodMovie.highlyRatedMovie === null || GoodMovie.movieDetails === null){%>
                  <br><br>
                    <h3>No user reviews yet</h3>
                <%}else{%>
                <a href="/movie/<%=GoodMovie.highlyRatedMovie.Movie.Title%>"><p><%=GoodMovie.highlyRatedMovie.Movie.Title%></p></a>
                <img  src="<%=GoodMovie.highlyRatedMovie.Movie.Poster%>" alt="Image" widht="200px" height="300px">
                <p><strong>Director: </strong><%=GoodMovie.movieDetails.Director.Name%></p>
                <p><strong>Actors:</strong>
                  <%GoodMovie.movieDetails.Actors.forEach(function(actor, actorIndex) { %>
                    <%= actor.Name %><% if (actorIndex !== GoodMovie.movieDetails.Actors.length - 1) { %>,<% } %>
                  <% }); %>
                </p>

                <p><strong>Genres:</strong>
                  <% GoodMovie.movieDetails.Genres.forEach(function(genre, genreIndex) { %>
                    <%= genre.Name %><% if (genreIndex !== GoodMovie.movieDetails.Genres.length - 1) { %>,<% } %>
                  <% }); %>
                </p>
    
                <img class="avatarimg" src="/images/<%=GoodMovie.highlyRatedMovie.User.Avatar%>.png"height="100px"width="100px"/>
                <p><strong><%=GoodMovie.highlyRatedMovie.User.Nickname%></strong></p>
                <div class="reviewtext">
                <p><%=GoodMovie.highlyRatedMovie.ReviewText%></p>
              </div>
                <p><strong>Rating: <%= GoodMovie.highlyRatedMovie.UserRating %>/10</strong></p>
           
            <% } %>
          </div>
            </div>

          </div>
          
          <%- include('./partials/footer.ejs')%>
  </body>
  </html>