<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
        <%- include('./partials/navbar.ejs')%>
    <div class="wrapperMovie">
      
      
<p><%=user.nickname%> </p>
<p><%=user.sub%> </p>
<p><%=user.name%> </p>
<p><%=user.nickname%> </p>
<p> hey</p>




<%- include('./partials/footer.ejs')%>
            </div>
           
   
  </body>
  </html>