<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!DOCTYPE html>
    <html>
      <head>
        <style>
          .avatar-option {
            display: none;
          }
          .wrapperProfile {
            /*  display: none;  */
          }
        </style>
      </head>
      <body>
        <%- include('./partials/navbar.ejs')%>
        <div class="wrapperMovie">
          <div class="wrapperContent">
            <div class="wrapperLeftProfile">
              <div>
                <H3>Your profile</H3>
                <%if(isAuthenticated){%>
                <p><%= user.name %></p>

                <%} else{%>
                <button id="createProfile">Create profile</button>
                
                <p>asdasd</p>
                <%}%>
                
                <p><%=/* UserFromDb.Username */%></p>
              </div>
            </div>
            <div class="wrapperProfile">
              <form id="profileForm" action="" method="POST">
                <h3>Update profile</h3>
                <label for="nickname">Nickname:</label><br />
                <input
                  type="text"
                  id="nickname"
                  name="nickname"
                  required
                /><br /><br />

                <label for="age">Age:</label><br />
                <input type="number" id="age" name="age" required /><br /><br />

                <label for="bio">Bio:</label><br />
                <textarea
                  id="bio"
                  name="bio"
                  rows="4"
                  cols="50"
                  required
                ></textarea
                ><br /><br />

                <label for="avatar">Avatar:</label><br />
                <select id="avatar" name="avatar" required>
                  <option value="" selected disabled>Select Avatar</option>
                  <option value="batman">Batman</option>
                  <option value="bird">Bird</option>
                  <option value="frog">Frog</option>
                  <option value="hands">Hands</option>
                  <option value="heart">Heart</option>
                  <option value="light">Lightbulb</option>
                  <option value="star">Star</option>
                  <option value="yoda">Yoda</option></select
                ><br /><br />

                <input type="submit"  value="Submit" />
              </form>
              <script>
                const form = document.getElementById('profileForm');
                form.addEventListener('submit', function (event) {
                  event.preventDefault();

                  const formData = new FormData(form);

                  fetch('/profile', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      FormData: Object.fromEntries(formData),
                    }),
                  }).then((response) => {
                    console.log('Form submitted successfully');
                  });

                  const avatarSelect = document.getElementById('avatar');
                  avatarSelect.addEventListener('change', function (event) {
                    const selectedAvatar = avatarSelect.value;
                    const avatarOptions =
                      document.getElementsByClassName('avatar-option');

                    for (let i = 0; i < avatarOptions.length; i++) {
                      avatarOptions[i].style.display = 'none';
                    }

                    if (selectedAvatar) {
                      const selectedOption = document.getElementById(
                        `avatar-option-${selectedAvatar}`
                      );
                      selectedOption.style.display = 'block';
                    }
                  });
                });
              </script>
            </div>
          </div>

          <%- include('./partials/footer.ejs')%>
        </div>
      </body>
    </html>
  </head>
</html>
